/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 26, 2024, 3:20:44 PM
    Author     : joses
*/
body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    background-color:#000;
    color: #fff; 
    
}


header {
    font-family: 'Monaco', sans-serif;
    font-size: 30px;
    text-align: center;
    color: coral; 
    position: fixed;
    top: 0;
    height: 160px;
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/cb/de/0a/cbde0ae3ff6110d0601fad808888ce4e.gif');
    background-size: cover;
    background-position-y: -40%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo img {
    width: 250px; /* Ancho del logo */
    height: 200px; /* Altura automática para mantener la proporción */
}

.menu-navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-navegacion li {
    display: inline-block;
    margin-left: 20px; 
}

.menu-navegacion li:first-child {
    margin-left: 0; 
}

.menu-navegacion a {
    text-decoration: none;
    color: #333;
    font-weight: bold; 
    font-size: 16px;
}

     
.ArticuloHorizontal {
    position: fixed;
    display: flex; 
    justify-content: space-between; 
}

figure {
    width: 20%; 
    text-align: center; 
}

figure img {
    max-width: 100%;
}

figcaption {
    color: white;
    text-align: center;
    font-size: 14px;
}
.pjustifi{
     color: wheat;
        text-align: justify;

}

#backgroundimg{
      background-size: cover;
  
     top: 160px;
    bottom:25px;
    width: 10%;
     opacity: 0.5;
     position: fixed;
}


.aside {
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    top: 160px;
    bottom: 25px;
    width: 10%;
    background-image: url('https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt02dd32b665c25036/5f4defe8b553152466d1b21a/Homepage_World_1.jpg');
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: overlay;
    background-position-x: 40%;
}

.contenido {
    position: relative; 
    z-index: 1; 
}



.Parrafoaside{
    opacity: 0.9;
    text-align: left;
    font-family: 'Monaco', sans-serif;
    
}
.h2aside{
    opacity: 0.9;
    color: coral;
}

.imgaside{
    position: absolute;
     z-index: 1;
    left: -30%;
}


section{
    background-image: url(' https://preview.redd.it/in73r6sbixz31.png?width=4096&format=png&auto=webp&s=810fa4aef8f17b2ccf3ca4c18601eb731904d37e');
    background-color: rgba(0, 0, 0, 0.5);  
    background-blend-mode: overlay;
    background-attachment: fixed;
    text-align: center;
    overflow-y: auto;
    padding: 1%;
    color: coral; 
    position: fixed;
    top: 160px;
    left: 10%;
    
    bottom: 30px;
    width: 90%;
    color: wheat;
}




a{
    color: white;
    text-decoration: none;
}
.sectionmain a:hover{
    color: cyan;
    
}

.h2titulos{
     text-align: center;
     font-family: Impact, sans-serif;
     font-size: 30px
}


footer {
    position: fixed;
    left: 0;
    bottom:  0;
    width: 100%;
    height: 30px;
    background-color: grey; 
    text-align: center;
    color: white; 
}
